:root {
    --red: #E3646E;
    --green: #82BC4F;
    --yellow: #EABD5F;
    --purple: #BB72E9;
    --blue: #3996DB;

    --gray-100: #0D0E11;
    --gray-200: #16181D;
    --gray-300: #292C34;
    --gray-400: #878EA1;
    --gray-500: #C0C4CE;
    --gray-600: #E2E4E9;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--gray-200);
}

.debug {
    > * {
        border: 1px solid #33F8;
    }
}

.bg-red {
    background-color: var(--red);
}

.bg-green {
    background-color: var(--green);
}

.bg-yellow {
    background-color: var(--yellow);
}

.bg-purple {
    background-color: var(--purple);
}

.bg-blue {
    background-color: var(--blue);
}

.text-center {
    text-align: center;
}

.text-red {
    color: var(--red);
}

.text-green {
    color: var(--green);
}

.text-yellow {
    color: var(--yellow);
}

.text-purple {
    color: var(--purple);
}

.text-blue {
    color: var(--blue);
}

.text-gray-100 {
    color: var(--gray-100);
}

.text-gray-200 {
    color: var(--gray-200);
}

.text-gray-300 {
    color: var(--gray-300);
}

.text-gray-400 {
    color: var(--gray-400);
}

.text-gray-500 {
    color: var(--gray-500);
}

.text-gray-600 {
    color: var(--gray-600);
}

.title-lg {
    font-size: 56px;
}

.title-md {
    font-size: 24px;
}

.title-sm {
    font-size: 16ps;
}

.subtitle {
    font-size: 20px;
}

.text-md {
    font-size: 16px;
}

.text-sm {
    font-size: 14px;
}

.title-lg, .title-md, .title-sm {
    font-family: 'Asap', Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.title-lg, .title-md, .title-sm, .subtitle {
    line-height: 120%;
}

.subtitle {
    font-family: 'Inconsolata', monospace;
}

.text-md, .text-sm {
    font-family: 'Maven Pro', monospace;
    line-height: 140%;
}

.subtitle, .text-md, .text-sm {
    font-weight: normal;
}

.no-wrap {
    white-space: nowrap;
}

main {
    width: 100dvw;
    height: fit-content;
    background-color: var(--gray-100);
}

header {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.container {
    margin: 0 auto;
    width: 100%;
    height: fit-content;
    min-height: 100dvh;
    /*max-width: 1366px;*/
    background-color: var(--gray-200);
}

section {
    display: flex;
    width: 100%;
    height: fit-content;
    padding: 72px 0;

    * {
        &:not(section) {
            max-width: 1040px;
        }
    }

    /*HERO SECTION*/

    &.hero {
        min-height: 100dvh;
        width: 100vw;
        background-image: url('./assets/Background_Intro.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center right;

        > .info {
            /*position: relative;*/
            margin: 0 auto;
            max-width: 900px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            > .profile-pic {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 112px;
                width: 112px;
                border-radius: 50%;
                border: 2px solid var(--red);
                margin-bottom: 56px;

                .picture {
                    height: 90%;
                    width: 90%;
                    border-radius: 50%;
                    background-image: url('https://github.com/victorpowilleit.png');
                    background-size: cover;
                }

                &::after {
                    content: '';
                    position: absolute;
                    bottom: -10px;
                    right: -10px;

                    height: 48px;
                    aspect-ratio: 1/1;
                    font-weight: bold;

                    background-image: url("./assets/Code.svg");
                    background-size: cover;
                }
            }

            > .title-lg {
                margin: 8px 0 20px 0;
            }

            > .text-sm {
                max-width: 800px;
                text-align: center;
            }

            > .techs {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 16px;
                margin-top: 80px;

                > .tech {
                    position: relative;
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    padding: 8px 16px;
                    border-radius: 999px;
                    background-color: var(--gray-300);
                    contain: paint;

                    > .colorOverlay {
                        position: absolute;
                        left: 10px;
                        height: 80%;
                        aspect-ratio: 1/1;
                        mix-blend-mode: darken;
                        border-radius: 50%;
                    }
                }
            }

            > i {
                font-size: 32px;
                position: fixed;
                bottom: 50px;
                animation: bounce .45s ease-in infinite alternate;
            }
        }
    }

    &.portfolio {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 56px;

        > .projects-grid {
            display: flex;
            gap: 24px;
            flex-wrap: wrap;
            justify-content: center;

            > .project {
                width: 330px;
                height: 280px;
                padding: 12px;
                background-color: var(--gray-300);
                display: flex;
                flex-direction: column;
                border-radius: 12px;
                gap: 16px;
                transition: box-shadow 0.2s;

                &.animated {
                    animation-name: rollIn;
                }

                animation-duration: 1.2s;
                animation-timing-function: ease-out;
                animation-fill-mode: forwards;
                visibility: hidden;

                &:hover {
                    box-shadow: inset 0 0 4px var(--gray-400);
                }

                > img {
                    width: 100%;
                    aspect-ratio: 1.9615/1;
                    border-radius: 8px;
                }

                > .text {
                    flex: 1;
                    display: flex;
                    flex-direction: column;

                    > .title-sm {
                        margin-bottom: 8px;
                    }

                }
            }
        }
    }

    &.services {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--gray-100);
        gap: 56px;

        > .services-grid {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 24px;

            > .service {
                width: 280px;
                display: flex;
                flex-direction: column;
                padding: 20px;
                gap: 20px;
                border-radius: 12px;
                box-shadow: inset 0 0 4px var(--gray-300);

                > i {
                    font-size: 48px;
                }

                > .text {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                }
            }
        }
    }

    &.contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 48px;
        min-height: 100dvh;
        background-image: url("./assets/Background_Contacts.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center left;
        > .contact-list {
            display: flex;
            flex-direction: column;
            width: 400px;
            gap: 16px;
            > .contact-item {
                display: flex;
                align-items: center;
                background-color: var(--gray-300);
                padding: 20px;
                gap: 12px;
                border-radius: 8px;
                transition: box-shadow 0.2s;
                > i {
                    font-size: 28px;
                    &:last-child {
                        font-size: 20px;
                    }
                }
                > .text-md{
                    flex: 1
                }
                &:hover{
                    box-shadow: inset 0 0 4px var(--blue);
                }
            }
        }
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(50%);
    }
}

@keyframes rollIn {
    0% {
        transform: translateX(-100vw);
        visibility: visible;
    }
    100% {
        transform: translateX(0);
        visibility: visible;
    }
}
